body {
  background-color: yellow;
}
h1,
h2 {
  text-align: center;
}
footer {
  display: block;
  text-align: center;
  color: green;
}
p {
  text-align: center;
}
footer a {
    color: green;
    margin: 0 10px;
}
.croissant-photo {
    max-width: 100%;
    display: block;
    margin: 30px auto;
}
